<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/ProfilePage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>{% block title %}ArtHive{% endblock %}</title>

</head>
<body>
   <body>
    <nav>
        <div class="container">
            <h2 class="log">ArtHive</h2>
            {% block search_bar %}
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Rechercher des artistes, des inspirations.">
            </div>
            {% endblock %}
            <div class="create">
            <a href="{{ path('app_login') }}" class="btn btn-primary">Déconnexion</a>
  

        </div>
        </div>
    </nav>

    <main> 
        <div class="container">
            <div class="left">
                <a class="profile">
                    <div class="profile-photo">
                      <img src="{{ asset('/images/profile_pictures/' ~ user.photo) }}" style="width: 30px; height: 30px;" alt="">

                    </div>
                   {% if user is not null %}
                    <div class="handle" id="nameLoggedinuser">
                        <h4>{{ user.getNomUser() }} {{ user.getPrenomUser() }}</h4>
                        <p class="text-muted">@{{ user.getNomUser() }}</p>
                    </div>
                    {% endif %}
                </a>
                <!.................................SIDEBAR.....................................>
                <div class="sidebar">
                    <a class="menu-item " id="home">
                        <span><i class="fa-solid fa-house"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item " href="{{ path('app_profile') }}" id="profile">
                        <span><i class="fa-solid fa-user"></i></span><h3>Profile</h3>
                    </a>
                    <a class="menu-item" id="groups">
                        <span><i class="fa-solid fa-people-group"></i></span><h3>Groupes</h3>
                    </a>
                    <a class="menu-item"id = "marketplace">
                        <span><i class="fa-solid fa-shop"></i></span><h3>Marketplace</h3>
                    </a>
                    <a class="menu-item" id= "events" >
                        <span><i class="fa-solid fa-calendar-days"></i></span><h3>Events</h3>
                    </a>
                    <a class="menu-item " id ="themes">
                        <span><i class="fa-solid fa-palette"></i></span><h3>Themes</h3>
                    </a>
                </div>
                <!.................END OF SIDEBAR............>
                <label id="create-post-button" for="create-post" class="btn btn-primary" style="padding: 0.6rem 2rem; margin-top: 1rem; position:center;">
                    <i class="fa-solid fa-circle-plus"></i> 
                    Créer</label>
            </div>

        <div class="content" style="width: 130%; height: auto;">
        {% block content %}
            <body>
                <div class="custom-container">
                    <div class="custom-row mb-4">
                        <div class="custom-col-2">
                        </div>
                        <div class="custom-col-10 custom-d-flex custom-justify-content-end">
                            <a href="{{ path('app_profileEdit') }}">
                                <button class="custom-btn custom-btn-primary custom-rounded-pill">
                                    <strong>Modifier Profile</strong>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="custom-row mb-5">
                        <div class="custom-col-2">
                            <img class="custom-img-fluid" src="{{ asset('/images/profile_pictures/' ~ user.photo) }}" alt="Profile photo">
                        </div>
                        <div class="custom-col-10">
                            <div class="custom-row mb-2">
                                <div class="custom-col-12">
                                    <h1>{{ user.nomUser }} {{ user.prenomUser }}</h1>
                                </div>
                            </div>
                            <div class="custom-row">
                                <div class="custom-col-4 custom-d-flex custom-align-items-center">
                                    <span class="material-icons-sharp">location_on</span>
                                    <h3 class="custom-ms-2">{{ user.ville }}</h3>
                                </div>
                                <div class="custom-col-4 custom-d-flex custom-align-items-center">
                                    <span class="material-icons-sharp">cake</span>
                                    <h3 class="custom-ms-2">{{ user.dNaissanceUser|date('Y-m-d')}}</h3>
                                </div>
                                <div class="custom-col-4 custom-d-flex custom-align-items-center">
                                    <span class="material-icons-sharp">email</span>
                                    <h3 class="custom-ms-2">{{ user.email }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-row" style="margin-top: 20px;">
                        <div class="custom-col-12">
                            <p>{{ user.bio }}</p>
                        </div>
                    </div>    
                </div>
            </body>
            {% endblock %}
        </div>
                   
 </div>
</main>

 <script>
     document.addEventListener("DOMContentLoaded", function() {
            const menuItems = document.querySelectorAll('.menu-item');
            function activateMenuItem(item) {
                menuItems.forEach(otherItem => {
                    otherItem.classList.remove('active');
                });
                item.classList.add('active');
                // Enregistrer l'ID de l'élément actif dans le stockage local
                localStorage.setItem('activeMenuItemId', item.id);
            }

            menuItems.forEach(item => {
                item.addEventListener('click', () => {
                    activateMenuItem(item);
                });
            });

            // Vérifier s'il y a un élément de menu actif enregistré dans le stockage local
            const activeMenuItemId = localStorage.getItem('activeMenuItemId');
            if (activeMenuItemId) {
                const activeMenuItem = document.getElementById(activeMenuItemId);
                if (activeMenuItem) {
                    activateMenuItem(activeMenuItem);
                }
            }    
        });
    </script>
</body>
</html>