{% extends 'feed.html.twig' %}

{% block title %}
      Évènements | ArtHive
{% endblock %}
{% block search_bar %}
    <form action="{{ path('app_evenement_search') }}" method="GET" class="search-bar">
        <input type="search" name="q" placeholder="Rechercher des evenements">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    

    <style>
    
        /* Styles pour la liste des événements */
        .event-container {
            display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Répartir les événements sur la ligne */
    margin-top: 20px;
    padding: 20px;
        }

        .event-item {
            flex-basis: calc(33.33% - 20px); /* Limiter chaque événement à un tiers de la largeur de la ligne */
            margin-bottom: 20px; /* Espacement entre les événements */
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            display: flex;
    flex-direction: column; /* Afficher les éléments en colonne */
        }

        .event-item:hover {
            box-shadow: 0 4px 8px rgba(4, 8, 236, 0.2);
            scale: 1.1;
            transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .event-title {
            font-size: 20px;
            font-weight: bold;
            color: #1877f2;
            margin-bottom: 5px;
            padding: 10px;
        }

        .event-date {
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
            padding: 10px;
        }

        .event-lieu {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
            padding: 10px;
        }

        .event-image {
            width: 100%;
            height: 200px; /* Définir une hauteur fixe pour chaque image */
            object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */
            border-radius: 8px 8px 0 0;
        }

      /* Styles pour la boîte modale */
.modal {
    display: none; /* Masquer la boîte modale par défaut */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrer précisément */
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
}


          /* Styles pour la boîte modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Marge automatique en haut et en bas et 15% sur les côtés */
    padding: 20px; /* Ajouter un peu d'espace intérieur */
    border: 1px solid #888;
    width: 50%; /* Réduire la largeur de la modale */
    max-width: 500px; /* Limiter la largeur maximale de la modale */
    max-height: 70%; /* Limiter la hauteur maximale de la modale */
    overflow-y: auto; /* Ajouter une barre de défilement vertical si nécessaire */
    border-radius: 8px; /* Arrondir les coins */
}

/* Ajoutez des styles supplémentaires pour les éléments à l'intérieur de la modale si nécessaire */
.modal-content img {
    max-width: 100%; /* Limiter la largeur maximale de l'image à 100% de la taille de son conteneur */
    height: auto; /* Maintenir le rapport hauteur-largeur de l'image */
    border-radius: 8px 8px 0 0; /* Arrondir les coins supérieurs */
    object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */
}


        .modal-image {
            width: 100%; /* Occupe toute la largeur de la modale */
    max-height: 400px; /* Limite la hauteur maximale de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions de l'image */
    border-radius: 8px 8px 0 0; /* Arrondi les coins supérieurs */
    object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */

        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .voir-detail {
    display: inline-block;
    padding: 8px 8px;
    color: #555; /* Couleur du texte */
    text-decoration: none;
    border-radius: 5px; /* Coins arrondis */
    transition: color 0.3s ease, border-color 0.3s ease; /* Transition pour la couleur du texte et de la bordure */
}
.voir-detail:hover {
    color: #0e5aa7; /* Couleur du texte au survol */
    border-color: #0e5aa7; /* Couleur de la bordure au survol */
    border-width: 0.5px; /* Réduire la largeur de la bordure au survol */
}
.voir-detail-container {
    margin-top: auto; /* Place le lien à la fin de l'élément */
    white-space: nowrap; /* Empêcher le saut de ligne */

}

.participer-btn {
    padding: 5px 10px; /* Ajouter un espacement interne */
    background-color: #1877f2; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur au survol */
    transition: background-color 0.3s ease; /* Animation de transition */
}

.Categorie {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    
}

.Categorie a {
    margin-left: auto; /* Déplacez le lien "Vos événements" vers la droite */
    margin-right: 20px; /* Ajoutez une marge à droite pour l'écart entre les éléments */
    
}
/* Style de base pour le sélecteur */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px; /* ajustez selon vos besoins */
  
}

.select-wrapper select {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #1a03eb;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  cursor: pointer;
}

/* Flèche personnalisée */
.select-wrapper::after {
  content: '\25BC'; /* flèche vers le bas */
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style lorsque survolé */
.select-wrapper:hover select {
  border-color: #420cf4;
}

/* Style lorsque sélectionné */
.select-wrapper select:focus {
  outline: none;
  border-color: #3b09ec;
}

/* Style des options */
.select-wrapper select option {
  background-color: #ffffff;
}

/* Style des options survolées */
.select-wrapper select option:hover {
  background-color: #650de9;
}
.participants-count {
            font-size: 14px;
            color: #9eafc5;
    vertical-align: middle; /* Alignement vertical au centre */
    margin-right: 10px; /* Marge à droite pour séparer les éléments */
        }
        .event-passed {
    background-color: rgb(229, 230, 243); /* Changez la couleur de fond pour les événements passés */
}

.disabled {
    pointer-events: none; /* Désactive les interactions avec les éléments désactivés */
    opacity: 0.5; /* Réduit l'opacité des éléments désactivés */
    /* Vous pouvez également modifier les styles pour indiquer visuellement que les éléments sont désactivés */
}
.vos-evenements-link {
    float: right; /* Aligne le lien à droite */
    color: #1877f2;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid #1877f2;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.vos-evenements-link:hover {
    background-color: #1877f2;
    color: #fff;
}

.week-events-box {
    margin-top: 20px; /* Espacement par rapport aux autres contenus */
    padding: 20px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 8px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond */
}

.week-events-box h5 {
    margin-bottom: 10px; /* Espacement par rapport aux événements */
    font-size: 18px; /* Taille de police */
    font-weight: bold; /* Gras */
    color: #333333; /* Couleur du texte */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    border-bottom: 2px solid #ccc; /* Bordure inférieure */
    padding-bottom: 5px; /* Espacement sous la bordure */
}


/* Styles pour les événements dans la boîte */
.week-events-box .event-container {
    display: flex;
    flex-wrap: nowrap; /* Empêcher le retour à la ligne des événements */
    overflow-x: auto; /* Activer le défilement horizontal si nécessaire */
    margin-top: 10px; /* Espacement par rapport au titre */
}

/* Style pour chaque événement */
.week-events-box .event-item {
    flex: 0 0 auto; /* Empêcher les événements de redimensionner */
    margin-right: 10px; /* Espacement entre les événements */
    /* Vos autres styles pour les événements */
}
h6 {
    margin-top: 20px; /* Espacement par rapport au contenu précédent */
    margin-bottom: 20px; /* Espacement par rapport aux événements */
    font-size: 18px; /* Taille de police */
    font-weight: bold; /* Gras */
    color: #333333; /* Couleur du texte */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    border-bottom: 2px solid #ccc; /* Bordure inférieure */
    padding-bottom: 5px; /* Espacement sous la bordure */
}

.event-category {
    font-size: 12px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    color: #5b5555; /* Couleur du texte */
    margin-top: 1px; /* Marge supérieure */
    margin-left: 10px; /* Espacement à gauche */
    margin-bottom: 10px;

}
/* Pagination styles */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  color: #1d0fe6;
  background:white; 
  font-size:18px;
  margin: 20px;
}


.pagination-container a:hover,
.pagination-container a:focus,
.pagination-container a:active,
.pagination-container span.active {
  background-color: #1d0fe6;
  color: white;
}
.pagination-container a.current {
  background-color: #1d0fe6;
  color: white;
}

.pagination-container .current {
  background-color: blue;
  color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
   font-size:18px;
  margin: 20px;
}

body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSivdg9sGuIwUPz6n3Cx2W0FYXTOqRkUO4HEkoqd6oAFESCcTrQxGoK_7kN9JXI8SZkbs&usqp=CAU');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


    </style>
{% endblock %}


{% block content %}
    <h1  style="display: flex; justify-content: center;">Découvrir des évènements</h1>
    
    <a href="{{ path('vos_evenements') }}"  class="vos-evenements-link">Vos événements</a>
    <div class="Categorie" style="margin-left: 20px;">
        <div class="select-wrapper">
            <select id="categorie" name="categorie">
                <option value="" disabled selected>Choisir une catégorie</option>
                <option value="PEINTURE">PEINTURE</option>
                <option value="SCULPTURE">SCULPTURE</option>
                <option value="MUSIQUE">MUSIQUE</option>
                <option value="CINEMA">CINEMA</option>
                <option value="THEATRE">THEATRE</option>
                <option value="PHOTOGRAPHIE">PHOTOGRAPHIE</option>
                <option value="ART_NUMERIQUE">ART_NUMERIQUE</option>
                <option value="ART_URBAIN">ART_URBAIN</option>
                <option value="LITTERATURE">LITTERATURE</option>
            </select>
        </div>
    </div>
    <div class="week-events-box">
        <h5>Évènements de cette semaine</h5>
        <div class="events-this-week-scroll">
    <div class="event-container">
        {% for event in eventsThisWeek %}
            <div class="event-item {% if event.isDatePassed %}event-passed{% endif %}" data-categorie="{{ event.categorieEvenement }}">
                <img class="event-image {% if event.isDatePassed %}disabled{% endif %}" src="{{ asset('images/evenement/' ~ event.image) }}" alt="Image de l'événement">
                <h2 class="event-title">{{ event.titreEvenement }}</h2>
                <p class="event-date">
                    <span><i class="fa-regular fa-clock" style="color: #3642dd;"></i></span>
                    {{ event.dDebutEvenement|date('Y-m-d H:i') }} - {{ event.dFinEvenement|date('Y-m-d H:i') }}
                </p>
                <p class="event-lieu">
                    <span><i class="fa-solid fa-location-dot" style="color: #3642dd;"></i></span>
                    {{ event.lieuEvenement }}
                </p>
                <h3 class="event-category">Catégorie : {{ event.categorieevenement }}</h3>
                <div class="voir-detail-container button-container">
                    <a href="#" class="voir-detail {% if event.isDatePassed %}disabled{% endif %}" data-evenement="{{ event.idEvenement }}">Voir détail</a>
                   
                </div>
            </div>
        {% endfor %}
        {% if eventsThisWeek is empty %}
            <p>Il n'a pas des évènements cette semaine</p>
        {% endif %}
    </div>
</div>
</div>




        <h6>Tous les évènements</h6>
            <div class="event-container">
                {% for evenement in pagination %}
                    <div class="event-item {% if evenement.isDatePassed %}event-passed{% endif %}"  data-categorie="{{ evenement.categorieevenement }}" >
                        <img class="event-image  {% if evenement.isDatePassed %}disabled{% endif %}" src="{{ asset('images/evenement/' ~ evenement.image) }}" alt="Image de l'événement">
                        <h2 class="event-title">{{ evenement.titreEvenement }}</h2>
                        <p class="event-date"><span><i class="fa-regular fa-clock" style="color: #3642dd;"></i></span>  {{ evenement.dDebutEvenement|date('Y-m-d H:i') }} - {{ evenement.dFinEvenement|date('Y-m-d H:i') }}</p>
                        <p class="event-lieu"><span><i class="fa-solid fa-location-dot" style="color: #3642dd;"></i></span>  {{ evenement.lieuEvenement }}</p>
                        <h3 class="event-category">Catégorie : {{ evenement.categorieevenement }}</h3>
                        <div class="voir-detail-container  button-container">
                            <a href="#" class="voir-detail  {% if evenement.isDatePassed %}disabled{% endif %}" data-evenement="{{ evenement.idEvenement }}">Voir détail</a>
                            <button class="participer-btn   {% if evenement.isDatePassed %}disabled{% endif %}" data-evenement="{{ evenement.getIdEvenement() }}">
                                <i class="far fa-star"></i> Participer
                            </button>
                                 <div class="participants-count">
                                    {{ participantsCounts[evenement.idEvenement] ?? 0 }} participants 
                                  </div>
                        </div>
                    </div>
                {% endfor %}
                {% if evenements is empty %}      
                <p>Aucune évènements trouvées</p>
                <img src="{{ asset('images/evenement/ay.png') }}" alt="Event Not Found" style="border-radius: 10px; width: 20%">
                {% endif %}
            </div>

             <!-- Ajoutez ceci à votre HTML pour la modale -->
<div id="eventModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="modal-image" class="modal-image" src="" alt="Image de l'événement">
      <h2 id="modal-title" class="event-title"></h2>
      <p id="modal-date" class="event-date"></p>
      <p id="modal-lieu" class="event-lieu"><i class="fa-solid fa-location-dot"></i></p>
      <p id="modal-description" class="event-description">Description : </p>
    </div>
  </div>
  {# Affichage des liens de pagination #}
  <div class="pagination-container">
    {{ knp_pagination_render(pagination) }}
</div>
  
  {% block javascripts %}
    <script src="{{ asset('js/VoirDetail.js') }}"></script>
    <script>// Récupérer tous les éléments avec la classe .event-item
        const eventItems = document.querySelectorAll('.event-item');
        // Parcourir chaque élément et vérifier si la date de l'événement est passée
        eventItems.forEach(item => {
            const eventDate = new Date(item.dataset.eventDate); // Assurez-vous que la date est stockée dans un attribut data-event-date sur chaque élément
            const currentDate = new Date();
        
            // Si la date de l'événement est passée, ajouter la classe "disabled" à l'élément
            if (eventDate < currentDate) {
                item.classList.add('disabled');
            }
        });

        <!----------------------------------------- Filtrage Categorie ----------------------------------------------->
        // Attendre que le contenu de la page soit chargé
        document.addEventListener("DOMContentLoaded", function() {
            // Récupérer le sélecteur de catégorie
            const categorieSelect = document.getElementById('categorie');

            // Ajouter un gestionnaire d'événements pour l'événement "change" du sélecteur de catégorie
            categorieSelect.addEventListener('change', function() {
                // Récupérer la valeur de la catégorie sélectionnée
                const selectedCategory = this.value;

                // Récupérer tous les éléments d'événement
                const eventItems = document.querySelectorAll('.event-item');

                // Parcourir tous les éléments d'événement
                eventItems.forEach(item => {
                    // Récupérer la catégorie de l'événement
                    const eventCategory = item.getAttribute('data-categorie');

                    // Vérifier si l'événement correspond à la catégorie sélectionnée ou si aucune catégorie n'est sélectionnée
                    if (selectedCategory === '' || eventCategory === selectedCategory) {
                        // Afficher l'événement
                        item.style.display = 'block';
                    } else {
                        // Masquer l'événement
                        item.style.display = 'none';
                    }
                });
            });
        });

        </script>

    
  
   
{% endblock %}
{% endblock %}





