{% extends 'admin/home.html.twig' %}
{% block title %}
    ArtHive | Groups
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
       
        h1 {
                color: #4848ed; /* Couleur du texte en bleu */
                margin-left: 0px;
                margin-top: 0; /* Supprimez la marge par défaut pour s'aligner avec le reste du contenu */
                margin-bottom: 20px; /* Espacement en bas pour séparer du contenu suivant */
                font-size: 50px; /* Taille de police plus grande */
        }
        .bouton-prod {
            display: block;
            width: 150px; 
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #3642dd;
            color: white;
            padding: 8px 10px;
            text-decoration: none;
            border-radius: 20px;
            transition: background-color 0.3s ease; 
            border: none; 
            cursor: pointer;
            font-size: 16px;
        }

        .bouton-prod:hover {
            background-color: #1877f2; 
        }
    </style>
{% endblock %}

{% block content %}
<main>


    <h1>Groups index</h1>
    <div>
    <a href="{{ path('app_groups_new') }}" class="bouton-prod">Create new</a>

    </div>
    <table class="table" width="100%">
        <thead>
        <tr>

            <th style=" color: #3642dd;">IdGroup</th>
            <th style=" color: #3642dd;" >NomGroup</th>
            <th style=" color: #3642dd;" >Image</th>
            <th style=" color: #3642dd;">DescriptionGroup</th>
           
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.idGroup }}</td>
                <td>{{ group.nomGroup }}</td>
                <td>
                    {% if group.image %}
                        <img src="{{ asset('images/' ~ group.image) }}" alt="{{ group.image }}" style="max-width: 100px; max-height: 100px;">
                    {% else %}
                        <img src="{{ asset('path_to_placeholder_image_placeholder.jpg') }}" alt="Image not found" style="max-width: 100px; max-height: 100px;">
                    {% endif %}
                </td>
                <td>{{ group.descriptionGroup }}</td>
           
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No group found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</main>
{% endblock %}
