<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de commande</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

       <style>
        body { background-color: #f4f4f4; font-family: Arial, sans-serif; }
        .icon-container { display: flex; justify-content: center; margin-top: 20px; }
        .icon-container i { font-size: 30px; margin: 0 10px; }
        .icon-container .fab.fa-facebook { color: #3b5998; }
        .icon-container .fab.fa-instagram { color: #e4405f; }
        .icon-container .fab.fa-twitter { color: #1da1f2; }
        .icon-container .fab.fa-pinterest { color: #bd081c; }
        .icon-container .fab.fa-linkedin { color: #0077b5; }
        .powered-by { 
            background-color:#ffffff; 
            border:1px solid #F5F8FD; 
            border-color:#F5F8FD; 
            border-radius:25px; 
            border-width:1px; 
            color:#A8B9D5; 
            display:inline-block; 
            font-size:16px; 
            font-weight:normal; 
            letter-spacing:0px; 
            line-height:normal; 
            padding:5px 18px 5px 18px; 
            text-align:center; 
            text-decoration:none; 
            border-style:solid; 
            font-family:helvetica,sans-serif; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<body style="background-color: rgba(86, 212, 242, 0.1);">
    <div style="margin-bottom: 100px;"></div>

        <div style="background-color: #ffffff; border-radius: 20px; margin: 30px; padding: 30px;">
             <div style="text-align: center;">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/9293370b0d414035/18ad1417-b024-4cd7-bbcc-3fe7f20406e5/365x273.png" alt="Logo Arthive" style="width: 200px;">
        </div>
            <p style="font-size: 18px; word-spacing: 2px;"> Cher {{ nomClient }} {{ prenomClient }},</p>
            <p style="font-size: 18px; word-spacing: 2px;"> Votre commande a été enregistrée avec succès !</p>
            <p style="font-size: 18px; word-spacing: 2px;">Voici les détails de votre commande :</p>
            <ul style="font-size: 18px; word-spacing: 2px;">
                <li><strong>Adresse de livraison :</strong> {{ adresseLivraison }}</li>
                <li><strong>Nombre de produits :</strong> {{ nombreProduits }}</li>
                <li><strong>Montant total de la commande :</strong> {{ totalPrix }} €</li>
            </ul>
            <p style="text-align: justify; font-size: 20px; word-spacing: 3px;">Votre commande sera expédiée dans un délai maximal de 48 heures suivant la confirmation de votre achat. Nous mettons un point d'honneur à assurer la qualité et la rapidité de notre service. Toutefois, si vous rencontrez le moindre souci ou si vous avez des questions, notre équipe reste à votre entière disposition. N'hésitez pas à nous contacter à l'adresse e-mail <a href="mailto:contact@ArtHive.com">contact@ArtHive.com</a>. Votre satisfaction est notre priorité absolue, et nous sommes là pour vous offrir toute l'assistance nécessaire.</p>
 
            <h3 style="text-align: center;">Merci encore pour votre confiance.</h3>
        </div>
    </div>
     <div style="font-size: 18px; margin-left: 20px;">Nos contacts : </div>
    <div style="display: flex; align-items: center;">
        <!-- Image à gauche -->
        <div style="flex: 1;">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/9293370b0d414035/18ad1417-b024-4cd7-bbcc-3fe7f20406e5/365x273.png" alt="Logo Arthive" style="width: 150px; margin-left: 120px;">
        </div>
        <!-- Trait -->
        <div style="border-left: 2px solid black; height: 130px; margin: 0 20px; margin-left: -50px;"></div>

        <!-- Informations à droite -->
        
        <div style="flex: 1;">
            <p style="font-size: 16px; font-family: Arial, sans-serif;">Site Web : <a href="https://www.Arthive.com">www.Arthive.com</a></p>
            <p style="font-size: 16px; font-family: Arial, sans-serif;">2083 Pôle Technologique El Ghazala – TUNISIE</p>
            <p style="font-size: 16px; font-family: Arial, sans-serif;">Téléphone : +21651234567</p>
        </div>
    </div>
    </div>
    <div style="margin-bottom: 30px;"></div>
 <div style="text-align: center;">
        <div class="icon-container"> 
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-linkedin"></i>
        </div>
		<div style="margin-bottom: 30px;"></div>
        <div class="powered-by">♥ POWERED BY ArtHive - Tech Titans ♥</div>
    </div>
</div>
              
</html>
