{% extends 'feed.html.twig' %}

{% block title %}
    Evènements | ArtHive
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        /* Styles pour la liste des événements */
        .event-container {
            display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Répartir les événements sur la ligne */
    margin-top: 20px;
    padding: 20px;
        }

        .event-item {
            flex-basis: calc(33.33% - 20px); /* Limiter chaque événement à un tiers de la largeur de la ligne */
            margin-bottom: 20px; /* Espacement entre les événements */
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            display: flex;
    flex-direction: column; /* Afficher les éléments en colonne */
        }

        .event-item:hover {
            box-shadow: 0 4px 8px rgba(4, 8, 236, 0.2);
            scale: 1.1;
            transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .event-title {
            font-size: 20px;
            font-weight: bold;
            color: #1877f2;
            margin-bottom: 5px;
            padding: 10px;
        }

        .event-date {
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
            padding: 10px;
        }

        .event-lieu {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
            padding: 10px;
        }

        .event-image {
            width: 100%;
            height: 200px; /* Définir une hauteur fixe pour chaque image */
            object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */
            border-radius: 8px 8px 0 0;
        }

      /* Styles pour la boîte modale */
.modal {
    display: none; /* Masquer la boîte modale par défaut */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrer précisément */
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
}


          /* Styles pour la boîte modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Marge automatique en haut et en bas et 15% sur les côtés */
    padding: 20px; /* Ajouter un peu d'espace intérieur */
    border: 1px solid #888;
    width: 50%; /* Réduire la largeur de la modale */
    max-width: 500px; /* Limiter la largeur maximale de la modale */
    max-height: 70%; /* Limiter la hauteur maximale de la modale */
    overflow-y: auto; /* Ajouter une barre de défilement vertical si nécessaire */
    border-radius: 8px; /* Arrondir les coins */
}

/* Ajoutez des styles supplémentaires pour les éléments à l'intérieur de la modale si nécessaire */
.modal-content img {
    max-width: 100%; /* Limiter la largeur maximale de l'image à 100% de la taille de son conteneur */
    height: auto; /* Maintenir le rapport hauteur-largeur de l'image */
    border-radius: 8px 8px 0 0; /* Arrondir les coins supérieurs */
    object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */
}


        .modal-image {
            width: 100%; /* Occupe toute la largeur de la modale */
    max-height: 400px; /* Limite la hauteur maximale de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions de l'image */
    border-radius: 8px 8px 0 0; /* Arrondi les coins supérieurs */
    object-fit: cover; /* S'assurer que l'image couvre complètement sa zone */

        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .voir-detail {
    display: inline-block;
    padding: 8px 8px;
    color: #9eafc5; /* Couleur du texte */
    text-decoration: none;
    border-radius: 5px; /* Coins arrondis */
    transition: color 0.3s ease, border-color 0.3s ease; /* Transition pour la couleur du texte et de la bordure */
}
.voir-detail:hover {
    color: #0e5aa7; /* Couleur du texte au survol */
    border-color: #0e5aa7; /* Couleur de la bordure au survol */
    border-width: 0.5px; /* Réduire la largeur de la bordure au survol */
}
.voir-detail-container {
    margin-top: auto; /* Place le lien à la fin de l'élément */
}

.participer-btn {
    padding: 5px 10px; /* Ajouter un espacement interne */
    background-color: #1877f2; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur au survol */
    transition: background-color 0.3s ease; /* Animation de transition */
}

  

    </style>
{% endblock %}


{% block content %}
    <h1>Découvrir des événements</h1>
            <div class="event-container">
                {% for evenement in evenements %}
                    <div class="event-item">
                        <img class="event-image" src="{{ asset('images/evenement/' ~ evenement.image) }}" alt="Image de l'événement">
                        <h2 class="event-title">{{ evenement.titreEvenement }}</h2>
                        <p class="event-date"><span><i class="fa-regular fa-clock" style="color: #3642dd;"></i></span>  {{ evenement.dDebutEvenement|date('Y-m-d H:i') }} - {{ evenement.dFinEvenement|date('Y-m-d H:i') }}</p>
                        <p class="event-lieu"><span><i class="fa-solid fa-location-dot" style="color: #3642dd;"></i></span>  {{ evenement.lieuEvenement }}</p>
                        <div class="voir-detail-container  button-container">
                            <a href="#" class="voir-detail" data-evenement="{{ evenement.idEvenement }}">Voir détail</a>
                            <button class="participer-btn" data-evenement="{{ evenement.idEvenement }}">
                                <i class="fa-regular fa-star"></i> Participer
                            </button>

    </div>

                    </div>
                {% endfor %}
            </div>

             <!-- Ajoutez ceci à votre HTML pour la modale -->
<div id="eventModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="modal-image" class="modal-image" src="" alt="Image de l'événement">
      <h2 id="modal-title" class="event-title"></h2>
      <p id="modal-date" class="event-date"></p>
      <p id="modal-lieu" class="event-lieu"><i class="fa-solid fa-location-dot"></i></p>
      <p id="modal-description" class="event-description">Description : </p>

    </div>
  </div>

  {% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/siwar.js') }}"></script>
{% endblock %}
{% endblock %}