{% extends 'feed.html.twig' %}

{% block title %}
    ArtHive | Search Results
{% endblock %}

{% block content %}
    <h1>Search Results</h1>

    {% if groups is not empty %}
        <div class="group-container">
            {% for group in groups %}
                <div class="group-item">
                    <img src="{{ asset('images/' ~ group.image) }}" alt="{{ group.image }}" style="max-width: 100%; max-height: 100%;">
                    <div class="group-details">
                        <h2 class="group-name">{{ group.getNomGroup() }}</h2>
                        <p class="group-description">{{ group.getDescriptionGroup() }}</p>
                        <a href="{{ path('app_groups_show', {'idGroup': group.idGroup}) }}">Show</a>
                        <br>
                        <a href="{{ path('app_groups_edit', {'idGroup': group.idGroup}) }}">Edit</a>
                        <br>
                        <a href="{{ path('app_reclamationgroupe_newback', {'groupId': group.idGroup}) }}">Add Reclamation</a> {# Add this link #}
                        <br>
                        <a href="{{ path('app_groups_reclamations', {'idGroup': group.idGroup}) }}" class="btn btn-info">View Reclamations</a>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No groups found.</p>
    {% endif %}
{% endblock %}



{% block stylesheets %}

    <style>
        {{ parent() }}
        /* CSS styles for displaying groups */
        .group-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-auto-rows: auto;
            grid-gap: 20px;
            margin-top: 20px;
            padding: 20px;
        }

        .group-item {
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            position: relative;
        }

        .group-item:hover {
            box-shadow: 0 4px 8px rgba(4, 8, 236, 0.2);
            scale: 1.1;
            transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .group-image {
            width: 100%;
            border-radius: 8px 8px 0 0;
        }

        .group-details {
            padding: 10px;
        }

        .group-name {
            font-size: 20px;
            font-weight: bold;
            color: #1877f2;
            margin-bottom: 5px;
        }

        .group-description {
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
        }
body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSivdg9sGuIwUPz6n3Cx2W0FYXTOqRkUO4HEkoqd6oAFESCcTrQxGoK_7kN9JXI8SZkbs&usqp=CAU');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}