{% extends 'feed.html.twig' %}

{% block title %}Groups{% endblock %}

{% block content %}
    <h1>Groups</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NomGroup</th>
                <td>{{ group.nomGroup }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ group.image }}</td>
            </tr>
            <tr>
                <th>DescriptionGroup</th>
                <td>{{ group.descriptionGroup }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_groups_index') }}" class="button-link">Retour a la liste des groupes</a>
    <br>
    <br>
    <a href="{{ path('app_groups_edit', {'idGroup': group.idGroup}) }}" class="button-link">Modifier</a>
    {{ include('groups/_delete_form.html.twig') }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
 /* Table styles */
    /* Button styles */
     h1 {
            color: #4848ed; /* Text color in blue */
            text-align: center; /* Horizontal centering */
            margin-top: 0; /* Remove default margin to align with the rest of the content */
            margin-bottom: 20px; /* Bottom spacing to separate from the following content */
            font-size: 50px; /* Larger font size */
        }
    .button-link {
        display: inline-block;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-link:hover {
        background-color: #0056b3;
    }

    .button-link-secondary {
        background-color: #6c757d;
    }

    .button-link-secondary:hover {
        background-color: #5a6268;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .table th,
    .table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

    /* Button styles */
    .btn {
        display: inline-block;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    /* Additional styles */
    .content {
        margin-top: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
</style>

{% endblock %}
