{% extends 'feed.html.twig' %}

{% block title %}
     ArtHive | Comments
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
 #comments .container {
            width: 80%; /* Adjust width as needed */
            margin: auto; /* Center align */
        }

        /* Adjustments to input field for comment text */
        #comments form .form-group {
            width: 100%; /* Ensure full width */
            margin: 0; /* Remove default margin */
        }
       
    </style>
{% endblock %}

{% block content %}

    
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- this here where am goign to add a comment  -->
 <section class="content-item" id="comments" style="width: 100%; height: auto;">
        <div class="container" style="width: 100%; height: auto;">
            <div class="row" style="width: 100%; height: auto;">
                <div class="col-sm-8">
                    <form method="post" action="{{ path('app_add_comment') }}">
                        {{ form_start(commentForm) }}
                        <h3 class="pull-left">New Comment</h3>
                        <button type="submit" class="btn btn-normal pull-right">Submit</button>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <!-- Display user image here if needed -->
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
    <label for="{{ commentForm.contenuCommentaire.vars.id }}">Your message</label>
    {{ form_widget(commentForm.contenuCommentaire, {'attr': {'class': 'form-control', 'placeholder': 'Your message', 'required': ''}}) }}
</div>
                            </div>
                        </fieldset>
                        {{ form_end(commentForm) }}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Section for displaying existing comments -->
    <section class="content-item" id="existing-comments" style="width: 100%; height: auto;">
        <div class="container" style="width: 100%; height: auto;">
            <div class="row" style="width: 100%; height: auto;">
                <div class="col-sm-8">
                    <h3>Existing Comments</h3>
                    {% for comment in comments %}
                        <div class="media" style="width: 100%; height: auto;">
                            <a class="pull-left" href="#"><img class="media-object" src="{{ asset('images/' ~ comment.getUser().getPhoto()) }}" style="width: 45px; height: 45px;" alt=""></a>
                            <div class="media-body"style="width: 100%; height: auto;">
                                <h4 class="media-heading">{{ comment.getUser().getNomUser() }} {{ comment.getUser().getPrenomUser() }}</h4>
                                <p>{{ comment.getContenuCommentaire() }}</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>{{ comment.getDAjoutCommentaire()|date('Y-m-d') }}</li>
                                    <li><i class="fa fa-thumbs-up"></i>10</li>
                                </ul>
                                <ul class="list-unstyled list-inline media-detail pull-right">
                                    <li class=""><a href="">Like</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
            
<script>


    </script>
{% endblock %}